@model eshop.ViewsModel.GuitarCreationViewModel

<h1>Create Guitar</h1>
<div class="row">
    <div class="col-md-6">
        <form method="post" class="card p-3" asp-action="createguitar" enctype="multipart/form-data">
            @*/asp-route-returnUrl="@Model.ReturnUrl">*@
            <div class="form-group">
                <label asp-for="Producer">Producer</label>
                <input asp-for="Producer" class="form-control" placeholder="Producer" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model">Model</label>
                <input asp-for="Model" class="form-control" placeholder="Model" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" class="form-control" placeholder="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BriefDescription">Model</label>
                <input asp-for="BriefDescription" class="form-control" placeholder="Brief Description" />
                <span asp-validation-for="BriefDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyMaterial">Material</label>
                <input asp-for="BodyMaterial" class="form-control" placeholder="Body Material" />
                <span asp-validation-for="BodyMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeckMaterial">Material</label>
                <input asp-for="DeckMaterial" class="form-control" placeholder="Deck Material" />
                <span asp-validation-for="DeckMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfStrings">Number of strings</label>
                <input asp-for="NumberOfStrings" class="form-control" placeholder="Number of strings" />
                <span asp-validation-for="NumberOfStrings" class="text-danger"></span>
            </div>
            <div class="custom-file mb-5">
                <input type="file" id="img" name="img" class="custom-file-input">
                <label class="custom-file-label" for="img">choose a file for a product image</label>
            </div>
            <button type="submit" style="width:85px" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>