@model eshop.ViewsModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .black-label{
        color: black;
    }
</style>

<h1>Login</h1>
<div class="row">
    <div class="col-md-6">
        <form method="post" class="card p-3" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Enter email">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="RememberMe" class="black-label">
                    <input asp-for="RememberMe"/>
                    Remember Me
                </label>
            </div>
            <button type="submit" style="width:85px" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-md-6">
        <h1>External login</h1>
        @{
            if (Model.ExternalLogins != null && Model.ExternalLogins.Count == 0)
            {
                    <div>No External logins configured</div>
            }
            else
            {
                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @if (Model.ExternalLogins != null)
                        {
                            foreach (var provider in Model.ExternalLogins)
                            {
                                <button class="btn btn-primary" type="submit" name="provider" value="@provider.Name">
                                    @provider.DisplayName login
                                </button>
                            }
                        }
                    </div>
                </form>
            }
        }
    </div>
</div>